<% team = @forum.team %>

<style>
  body {
    <% if team %>
      background: <%= team.background_color %>;
    <% else %>
      background: url(<%= asset_path "pond_hockey.jpg" %>) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    <% end %>
  }

  <% if @forum.team %>
    .navbar a {
      color: <%= team.luminance(0.3) %>;
    }

    .players-option {
      color: <%= team.luminance(0.3) %>;
    }

    .forum-container h2 a, .forum-container h2 {
      color: <%= team.background_color %>;
      text-shadow: 1px 1px 1px #000;
    }

    input[type=text] {
      border: 1px solid <%= team.background_color %>;
      color: <%= team.background_color %>;
    }

    .new-topic, .edit-topic {
      border: 3px solid <%= team.background_color %>;
    }

    .new-topic h2, .edit-topic h2 {
      color: <%= team.background_color %>;
    }

    input[type=submit] {
      <% start = team.background_color %>
      <% final = team.luminance(-0.4) %>
      border-radius: 3px;
      width: 80px;
      height: 30px;
      color: white;
      font-size: 12px;
      border: 1px solid #292929;
      background: -webkit-gradient(linear, left top, left bottom, from(<%= start %>), to(<%= final %>));
      background: -moz-linear-gradient(top, <%= start %>, <%= final %>);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='<%= start %>', endColorstr='<%= final %>');
    }

    input[type=submit]:active {
      <% start = team.luminance(-0.15) %>
      <% final = team.luminance(-0.4) %>
      background: -webkit-gradient(linear, left top, left bottom, from(<%= final %>), to(<%= start %>));
      background: -moz-linear-gradient(top, <%= final %>, <%= start %>);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='<%= final %>', endColorstr='<%= start %>');
    }

    .topics-list {
      border-bottom: 1px solid <%= team.background_color %>;
    }

    .topics-list > li {
      border-top: 1px solid <%= team.background_color %>;
    }

    .topics-list > li a {
      color: <%= team.background_color %>;
    }

    span.tt-dropdown-menu {
      border-bottom: 1px solid <%= team.background_color %>;
    }

    div.tt-suggestion {
      border: 1px solid <%= team.background_color %>;
      border-bottom: 0;
    }

    .more-link {
      color: <%= team.background_color %>;
    }

    #wmd-input {
      border: 1px solid <%= team.background_color %>;
    }
  <% end %>
</style>

<div class="new-topic-hidden">
  <section class="new-topic">
    <div class="form-submitting-hidden"></div>
    <h2>New topic</h2>
    <%= form_for :topic do |f| %>
      <h3>Title</h3>
      <%= f.text_field :title, :class => "title-field" %>
      <h3>Description (optional)</h3>
      <div id="wmd-button-bar"></div>
      <%= f.text_area :description, id: "wmd-input" %><br>
      <div id="wmd-preview"></div>
      <%= f.submit "Create", :class => "create-topic" %>
    <% end %>
  </section>
</div>

<section class="forum-container">
  <h2>
    <% if team %>
      <%= link_to team.name, team_url(team) %>
    <% else %>
      <%= @forum.title %>
    <% end %>

    <span class="create-topic-link">Start discussion</span>
  </h2>

  <% if @topics.empty? %>
    <h2 class="no-topics-header">There are no discussions yet! Why don't you start one?<span><%= image_tag "curved_arrow.png", :class => "curved-arrow" %></span></h2>
  <% else %>
    <ul class="topics-list">
      <%= render partial: "forum", locals: {forum: @forum, topics: @topics.sort_by{|t| t.id}} %>
    </ul>
  <% end %> 

  <%= link_to_next_page @topics, "More", :class => "more-link" %>
</section>

<script>
  $(document).ready(function () {
    $(".forum-container").on("click", ".create-topic-link", function () {
      $("div.new-topic-hidden").fadeIn("fast");

      setInterval(function () {
        if ($(".title-field").val() === "") {
          $(".create-topic").attr("disabled", true);
        }
        else {
          $(".create-topic").attr("disabled", false);
        }
      }, 100);
    });

    $(".new-topic").on("click", function (event) {
      event.stopPropagation();
    });

    $("div.new-topic-hidden").on("click", function () {
      $(this).fadeOut("fast");
    });

    $(".create-topic").on("click", function () {
      $(".form-submitting-hidden").html('<%= image_tag "loading.gif", :class => "loading-gif" %>')
      $(".form-submitting-hidden").fadeIn("fast");
    });

    var topics = $(".forum-container");

    topics.on("click", "div.description-hidden, li a", function (event) {
      event.stopPropagation();
    });

    topics.on("click", "li", function () {
      $(this).find("div.description-hidden").slideToggle("fast");
      if ($(this).find(".circle-plus").attr("src") == "/assets/circle_plus.png") {
        $(this).find(".circle-plus").attr("src", "/assets/circle_minus.png");
      }
      else {
        $(this).find(".circle-plus").attr("src", "/assets/circle_plus.png");
      }
    });

    topics.on("click", ".more-link", function (event) {
      event.preventDefault();
      var a = $(this);

      $.get(a.attr("href"), function (data) {
        $(".topics-list").append(data)
        if ($(".forum-container li").length % 20 <= 0) {
          a.remove();
        }
      });
    })
  });
</script>