<tr>
  <td class="first-two-tds"><a href="<%= goalie_url(goalie) %>"><%= goalie.name %></a></td>
  <td class="first-two-tds"><a href="<%= team_url(goalie.team) %>"><%= goalie.team_abbrev %></a></td>
  <td><%= goalie.gp %></td>
  <td><%= goalie.w %></td>
  <td><%= goalie.l %></td>
  <td><%= goalie.otl %></td>
  <td><%= goalie.ga %></td>
  <td><%= goalie.gaa %></td>
  <td><%= goalie.sa %></td>
  <td><%= goalie.sv %></td>
  <td><%= goalie.sv_perc %></td>
  <td><%= goalie.shutouts %></td>
  <td><%= goalie.min %></td>
</tr>