<style>
  body {
    background: <%= @goalie.team.background_color %>;
  }

  .goalie-header-container > h2 {
    margin: 15px auto 0 auto;
    color: <%= @goalie.team.background_color %>;
    font-size: 70px;
    text-shadow: 1px 1px 1px #000;
  }

  input[type=submit] {
    <% start = @goalie.team.background_color %>
    <% final = @goalie.team.luminance(-0.4) %>
    border-radius: 3px;
    width: 80px;
    height: 30px;
    margin: 5px auto 0 auto;
    color: white;
    font-size: 12px;
    border: 1px solid #292929;
    background: -webkit-gradient(linear, left top, left bottom, from(<%= start %>), to(<%= final %>));
    background: -moz-linear-gradient(top, <%= start %>, <%= final %>);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='<%= start %>', endColorstr='<%= final %>');
  }

  input[type=submit]:active {
    <% start = @goalie.team.luminance(-0.15) %>
    <% final = @goalie.team.luminance(-0.4) %>
    background: -webkit-gradient(linear, left top, left bottom, from(<%= final %>), to(<%= start %>));
    background: -moz-linear-gradient(top, <%= final %>, <%= start %>);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='<%= final %>', endColorstr='<%= start %>');
  }

  .navbar a {
    color: <%= @goalie.team.luminance(0.3) %>;
  }

  .navbar .players-option {
    color: <%= @goalie.team.luminance(0.3) %>;
  }

  table#goalie-stats th {
    padding: 25px 15px 3px 15px;
    font-weight: bold;
    font-size: 25px;
    color: <%= @goalie.team.background_color %>;
    text-shadow: 1px 1px 1px #000;
  }

  table#goalie-stats td a:hover {
    color: <%= @goalie.team.background_color %>;
    font-weight: bold;
  }
</style>

<a href="<%= team_url(@goalie.team) %>"><img class="team-background" src="<%= @goalie.team.background.url %>"></a>

<section class="goalie-container group">
  <section class="goalie-header-container">
    <h2><%= @goalie.name.upcase %></h2>
    <% unless @goalie.image_file_name.nil? %>
      <img class="goalie-pic" src="<%= @goalie.image.url %>">
    <% end %>
    <div class="favorite-buttons<%= current_user.goalies.include?(@goalie) ? ' favorited' : '' %>">
      <input class="favorite" type="submit" value="FAVORITE">
      <input class="unfavorite" type="submit" value="UNFAVORITE">
    </div>
    <section class="goalie-stats-table">
      <table id="goalie-stats">
        <thead>
          <% stats_keys = ["TEAM", "GP", "W", "L", "OT", "GA", "GAA", "SA", "SV", "SV%", "SO", "MIN"] %>
          <tr>
            <% stats_keys.each do |key| %>
              <th><%= key %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><a href="<%= team_url(@goalie.team) %>"><%= @goalie.team_abbrev %></a></td>
            <td><%= @goalie.gp %></td>
            <td><%= @goalie.w %></td>
            <td><%= @goalie.l %></td>
            <td><%= @goalie.otl %></td>
            <td><%= @goalie.ga %></td>
            <td><%= @goalie.gaa %></td>
            <td><%= @goalie.sa %></td>
            <td><%= @goalie.sv %></td>
            <td><%= @goalie.sv_perc %></td>
            <td><%= @goalie.shutouts %></td>
            <td><%= @goalie.min %></td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</section>

<script>
  $(window).load(function () {
    $(window).scrollTo(400)
  })

  $(document).ready(function () {
    $("input[type=submit]").on("click", function(event) {
      if (event.currentTarget.className === "favorite") {
        var buttonClicked = "favorite"
        var meth = "POST"
      }
      else {
        var buttonClicked = "unfavorite"
        var meth = "DELETE"
      }

      var params = {
        id: "<%= @goalie.id %>",
        type: "Goalie"
      };

      $.ajax({
        url: "<%= favorites_url %>",
        type: meth,
        data: params,
        success: function() {
          $(".favorite-buttons").toggleClass("favorited", buttonClicked == "favorite");
        },
        error: function() {
          alert("Request failed");
          console.log("error");
        }
      });
    });
  });
</script>





