<% team = @topic.forum.team %>

<style>
  body {
    <% if team %>
      background: <%= team.background_color %>;
    <% else %>
      background: url(<%= asset_path "pond_hockey.jpg" %>) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    <% end %>
  }

  <% if team %>
    .navbar a {
      color: <%= team.luminance(0.3) %>;
    }

    .players-option {
      color: <%= team.luminance(0.3) %>;
    }

    .topic-container h2 {
      color: <%= team.background_color %>;
      text-shadow: 1px 1px 1px #000;
    }

    input[type=text] {
      border: 1px solid <%= team.background_color %>;
      color: <%= team.background_color %>;
    }

    .new-topic, .edit-topic {
      border: 3px solid <%= team.background_color %>;
    }

    .new-topic h2, .edit-topic h2 {
      color: <%= team.background_color %>;
    }

    input[type=submit] {
      <% start = team.background_color %>
      <% final = team.luminance(-0.4) %>
      border-radius: 3px;
      width: 80px;
      height: 30px;
      color: white;
      font-size: 12px;
      border: 1px solid #292929;
      background: -webkit-gradient(linear, left top, left bottom, from(<%= start %>), to(<%= final %>));
      background: -moz-linear-gradient(top, <%= start %>, <%= final %>);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='<%= start %>', endColorstr='<%= final %>');
    }

    input[type=submit]:active {
      <% start = team.luminance(-0.15) %>
      <% final = team.luminance(-0.4) %>
      background: -webkit-gradient(linear, left top, left bottom, from(<%= final %>), to(<%= start %>));
      background: -moz-linear-gradient(top, <%= final %>, <%= start %>);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='<%= final %>', endColorstr='<%= start %>');
    }

    .edit-topic-button, .submit-comment-button {
      <% start = team.background_color %>
      <% final = team.luminance(-0.4) %>
      border: 1px solid #292929;
      background: -webkit-gradient(linear, left top, left bottom, from(<%= start %>), to(<%= final %>));
      background: -moz-linear-gradient(top, <%= start %>, <%= final %>);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='<%= start %>', endColorstr='<%= final %>');
    }

    .edit-topic-button:active, .submit-comment-button:active {
      <% start = team.luminance(-0.15) %>
      <% final = team.luminance(-0.4) %>
      background: -webkit-gradient(linear, left top, left bottom, from(<%= final %>), to(<%= start %>));
      background: -moz-linear-gradient(top, <%= final %>, <%= start %>);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='<%= final %>', endColorstr='<%= start %>');
    }

    span.tt-dropdown-menu {
      border-bottom: 1px solid <%= team.background_color %>;
    }

    div.tt-suggestion {
      border: 1px solid <%= team.background_color %>;
      border-bottom: 0;
    }

    .more-link {
      color: <%= team.background_color %>;
    }

    textarea {
      border: 1px solid <%= team.background_color %>;
    }

    .comments-header {
      color: <%= team.background_color %>;
    }

    .comments-container ul ul {
      border-left: 1px dotted <%= team.background_color %>;
    }
  <% end %>
</style>

<div class="edit-topic-hidden">
  <section class="edit-topic">
    <h2>New topic</h2>
    <%= form_for :topic do |f| %>
      <h3>Title</h3>
      <%= f.text_field :title, :class => "title-field" %>
      <h3>Description (optional)</h3>
      <div id="wmd-button-bar"></div>
      <textarea id="wmd-input" name="topic[description]"><%= @topic.description %></textarea><br>
      <div id="wmd-preview"></div>
      <%= f.submit "Update", :class => "update-topic" %>
    <% end %>
  </section>
</div>

<section class="topic-container">
  <section class="topic-header-container">
    <%= render partial: "topic", locals: {topic: @topic} %>
  </section>

  <section class="comments-container">
    <h3 class="comments-header">Post comment</h3>
    <section class="post-comment">
      <textarea class="comment-input"></textarea><br>
      <span class="submit-comment-button fake-button">SUBMIT</span>
    </section>

    <% if @top_level %>
      <ul class="comments-list">
        <%= render partial: "comments", locals: {comments: @comments, top_level: @top_level} %>
      </ul>
    <% end %>
  </section>

  <% if @top_level %>
    <%= link_to_next_page @top_level, "More", :class => "more-link" %>
  <% end %>
</section>

<script>
  $(document).ready(function () {
    var description = $("div.description-container").text();
    var converter = new Attacklab.showdown.converter();
    $("div.description-container").html(converter.makeHtml(description));

    var topic = $(".topic-container");

    topic.on("click", ".edit-topic-button", function () {
      $("div.edit-topic-hidden").fadeIn("fast");

      setInterval(function () {
        if ($(".title-field").val() === "") {
          $(".update-topic").attr("disabled", true);
        }
        else {
          $(".update-topic").attr("disabled", false);
        }
      }, 100);
    });

    $(".edit-topic").on("click", function (event) {
      event.stopPropagation();
    });

    $("div.edit-topic-hidden").on("click", function () {
      $(this).fadeOut("fast");
    });

    $(".update-topic").on("click", function (event) {
      event.preventDefault();
      var that = this;
      var formData = $(that.form).serialize();

      $.ajax({
        url: that.form.action,
        type: "PUT",
        data: formData,
        success: function (data) {
          $("div.edit-topic-hidden").fadeOut("fast");
          $(that.form).each(function () {this.reset()});
          $(".topic-header-container").html(data);
          var d = $("div.description-container").text();
          $("div.description-container").html(converter.makeHtml(d));
        }
      });
    });

    topic.on("click", ".comments-header", function () {
      $(".post-comment").slideToggle("fast");
    });

    topic.on("click", ".submit-comment-button", function () {
      var data = {
        text: $(".comment-input").val(),
        topic_id: <%= params[:id] %>,
        user_id: <%= current_user.id %>
      };
      
      $.ajax({
        url: "<%= forum_topic_comments_url(params[:forum_id], params[:id]) %>",
        type: "POST",
        data: data,
        success: function (data) {
          $(".comments-list").prepend(data);
        }
      });
    });

    topic.on("click", ".more-link", function (event) {
      event.preventDefault();
      var a = $(this);

      $.get(a.attr("href"), function (data) {
        var tmp = $(".comments-list > li").length
        $(".comments-list").append(data)
        var tmp2 = $(".comments-list > li").length
        if (tmp2 - tmp < 100) {
          a.remove();
        }
      });
    })
  });
</script>