<style>
  body { 
    background: url(<%= asset_path "olympics.jpg" %>) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="image-link-container">
  <% if @user.profile_background_file_name.nil? %>
    <%= image_tag "default_user_background.jpg", :class => "user-background" %>
  <% else %>
    <%= image_tag @user.profile_background.url, :class => "user-background" %>
  <% end %>

  <% if @user == current_user %>
    <h2 class="photo-upload-link">Edit photo</h2>
    <a class="edit-user-link" href="<%= edit_user_registration_url %>">Edit account</a>
  <% end %>
</div>

<div class="photo-upload-hidden">
  <section class="photo-upload-form">
    <%= form_for @user, html: {:class => "user-background-upload"} do |f| %>
      <h3 class="upload-header">Upload a background image. For best results, choose an image larger than 1920x1080.</h3>
      <%= f.file_field :profile_background %><br>
      <%= f.submit "Update" %>
    <% end %>
  </section>
</div>

<% if @user.favorites.empty? %>
  <section class="no-favorites group">
    <h2>Stats for teams and players you favorite will show up here. Go favorite some!</h2>
    <ul>
      <li><%= link_to "TEAMS", standings_url %></li>
      <li><%= link_to "SKATERS", players_url %></li>
      <li><%= link_to "GOALIES", goalies_url %></li>
    </ul>
  </section>
<% else %>
  <section class="favorites-container">
    <% @user.teams.each do |team| %>
      <section class="user-team-container">
        <a href="<%= team_url(team) %>"><img class="user-team-pic" src="<%= team.background.url(:medium) %>"></a>
        <h2><a href="<%= team_url(team) %>" style="color:<%= team.background_color %>"><%= team.name.upcase %></a></h2>
        <section class="user-team-stats-table">
          <table class="user-team-stats">
            <thead>
              <% stats_keys = ["GP", "W", "L", "OT", "PTS", "PT%", "G/G", "GA/G", "PP%", "PK%", "S/G", "SA/G", "FO%"] %>
              <tr>
                <% stats_keys.each do |key| %>
                  <th style="color: <%= team.background_color %>"><%= key %></th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <tr>
                <% team.attributes.values[3..15].each do |val| %>
                  <td><%= val %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    <% end %>

    <% @user.players.each do |player| %>
      <section class="user-player-container">
        <h2><a style="color:<%= player.team.background_color %>" href="<%= player_url(player) %>"><%= player.name.upcase %></a></h2>
        <section class="user-player-stats-table">
          <table class="user-player-stats">
            <thead>
              <% stats_keys = ["TEAM", "GP", "G", "A", "PTS", "+/-", "PIM", "PPG", "HITS", "BLOCKS", "FO%", "SHOTS", "S%"] %>
              <tr>
                <% stats_keys.each do |key| %>
                  <th style="color:<%= player.team.background_color %>"><%= key %></th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><a href="<%= team_url(player.team) %>"><%= player.team_abbrev %></a></td>
                <td><%= player.gp %></td>
                <td><%= player.g %></td>
                <td><%= player.a %></td>
                <td><%= player.pts %></td>
                <td><%= player.plus_minus %></td>
                <td><%= player.pim %></td>
                <td><%= player.ppg %></td>
                <td><%= player.hits %></td>
                <td><%= player.blocks %></td>
                <td><%= player.fo_perc %></td>
                <td><%= player.shots %></td>
                <td><%= player.shot_perc %></td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    <% end %>

    <% @user.goalies.each do |goalie| %>
      <section class="user-goalie-container">
        <h2><a style="color:<%= goalie.team.background_color %>" href="<%= goalie_url(goalie) %>"><%= goalie.name.upcase %></a></h2>
        <section class="user-goalie-stats-table">
          <table class="user-goalie-stats">
            <thead>
              <% stats_keys = ["TEAM", "GP", "W", "L", "OT", "GA", "GAA", "SA", "SV", "SV%", "SO", "MIN"] %>
              <tr>
                <% stats_keys.each do |key| %>
                  <th style="color:<%= goalie.team.background_color %>"><%= key %></th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><a href="<%= team_url(goalie.team) %>"><%= goalie.team_abbrev %></a></td>
                <td><%= goalie.gp %></td>
                <td><%= goalie.w %></td>
                <td><%= goalie.l %></td>
                <td><%= goalie.otl %></td>
                <td><%= goalie.ga %></td>
                <td><%= goalie.gaa %></td>
                <td><%= goalie.sa %></td>
                <td><%= goalie.sv %></td>
                <td><%= goalie.sv_perc %></td>
                <td><%= goalie.shutouts %></td>
                <td><%= goalie.min %></td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    <% end %>
  </section>
<% end %>

<script>
  $(window).load(function () {
    $(window).scrollTo(400);
  });

  $(document).ready(function () {
    User.show();
  });
</script>