<style>
  body { 
    background: url(<%= asset_path "olympics.jpg" %>) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="image-link-container">
  <% if @user.profile_background_file_name.nil? %>
    <%= image_tag "default_user_background.jpg", :class => "user-background" %>
  <% else %>
    <%= image_tag @user.profile_background.url, :class => "user-background" %>
  <% end %>

  <h2 class="photo-upload-link">Edit photo</a>
</div>

<div class="photo-upload-hidden">
  <section class="photo-upload-form">
    <%= form_for @user, html: {:class => "user-background-upload"} do |f| %>
      <h3 class="upload-header">Upload a background image. For best results, choose an image larger than 1920x1080.</h3>
      <%= f.file_field :profile_background %><br>
      <%= f.submit "Update" %>
    <% end %>
  </section>
</div>

<% if @user.favorites.empty? %>
  <section class="no-favorites group">
    <h2>Stats for teams and players you favorite will show up here. Go favorite some!</h2>
    <ul>
      <li><%= link_to "TEAMS", standings_url %></li>
      <li><%= link_to "SKATERS", players_url %></li>
      <li><%= link_to "GOALIES", goalies_url %></li>
    </ul>
  </section>
<% end %>

<script>
  $(".image-link-container").mouseenter(function () {
    $(".photo-upload-link").fadeIn("fast");
  });
  $(".image-link-container").mouseleave(function () {
    $(".photo-upload-link").fadeOut("fast");
  });

  $(".photo-upload-link").on("click", function () {
    $("div.photo-upload-hidden").fadeIn("fast");
  });

  $(".photo-upload-form").on("click", function (event) {
    event.stopPropagation();
  });

  $("div.photo-upload-hidden").on("click", function(event) {
    $(this).fadeOut("fast");
  });
</script>