<section class="analysis-header-container">
  <h2><%= analysis.title %></h2>
  <h3>by <%= analysis.user.username %></h3>
  <% if analysis.id == 1  %>
    <h3 class="charts-link"><%= link_to "View charts", analysis_charts_url(analysis) %></h3>
  <% end %>
  <h3></h3>
  <% if analysis.user == current_user %>
    <ul class="edit-delete-analysis">
      <li class="edit-item"><span class="edit-analysis-button fake-button">Edit</span></li>
      <li><%= button_to "Delete", analysis_url(analysis), method: :delete %></li>
    </ul>
  <% end %>
</section>

<div class="pdf-container">
  <object class="analysis-pdf" type="application/pdf" data="<%= @analysis.pdf.url %>"></object>
</div>