<style>
  body { 
    background: url(<%= asset_path "deke.jpg" %>) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="new-analysis-hidden">
  <section class="new-analysis">
    <div class="form-submitting-hidden"></div>
    <h2>New analysis</h2>
    <%= form_for :analysis do |f| %>
      <h3>Title</h3>
      <%= f.text_field :title, :class => "title-field" %>

      <h3>Upload PDF (no spaces in file name)</h3>
      <%= f.file_field :pdf, :class => "pdf-upload" %><br>
      <%= f.submit "Create", :class => "create-analysis" %>
    <% end %>
  </section>
</div>

<h3 class="add-analysis-link">Add your own analysis</h3>
<section class="analyses-container">
  <%= render partial: "analyses", locals: {analyses: @analyses} %>
</section>

<script>
  $(document).ready(function () {
    $("h3.add-analysis-link").on("click", function () {
      $("div.new-analysis-hidden").fadeIn("fast");
    });

    $(".new-analysis").on("click", function (event) {
      event.stopPropagation();
    });

    $("div.new-analysis-hidden").on("click", function () {
      $(this).fadeOut("fast");
    });

    $(".create-analysis").on("click", function (event) {
      $(".form-submitting-hidden").html('<%= image_tag "loading.gif", :class => "loading-gif" %>')
      $(".form-submitting-hidden").fadeIn("fast");
      event.preventDefault();

      var that = this;
      var formData = new FormData(that.form);

      $.ajax({
        url: that.form.action,
        contentType: false,
        processData: false,
        type: "POST",
        data: formData,
        success: function (data) {
          $("div.new-analysis-hidden").fadeOut("fast");
          $(".form-submitting-hidden").html("");
          $(that.form).each(function () {this.reset()});
          $(".analyses-container").html(data);
        },
        error: function () {
          console.log("error");
        }
      });
    })
  });
</script>