<style>
  body { 
    background: url(<%= asset_path "deke.jpg" %>) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="new-analysis-hidden">
  <section class="new-analysis">
    <div class="form-submitting-hidden"></div>
    <h2>New analysis</h2>
    <%= form_for :analysis do |f| %>
      <h3>Title</h3>
      <%= f.text_field :title, :class => "title-field" %>

      <h3>Upload PDF (no spaces in file name)</h3>
      <%= f.file_field :pdf, :class => "pdf-upload" %><br>
      <%= f.submit "Create", :class => "create-analysis" %>
    <% end %>
  </section>
</div>

<section class="analyses-container">
  <h3 class="add-analysis-link">Add your own analysis</h3>
  <%= render partial: "analyses", locals: {analyses: @analyses} %>
</section>

<script>
  $(document).ready(function () {
    Analysis.index()
  });
</script>