<div class="edit-analysis-hidden">
  <section class="edit-analysis">
    <div class="form-submitting-hidden"></div>
    <h2>Edit analysis</h2>
    <%= form_for :analysis do |f| %>
      <h3>Title</h3>
      <input type="text" id="analysis_title" name="analysis[title]" value="<%= @analysis.title %>">

      <h3>Upload PDF (no spaces in file name)</h3>
      <%= f.file_field :pdf, :class => "pdf-upload" %><br>
      <input type="hidden" name="_method" value="put">
      <%= f.submit "Update", :class => "update-analysis" %>
    <% end %>
  </section>
</div>

<section class="analysis-container">
  <%= render partial: "analysis", locals: {analysis: @analysis} %>
</section>

<script>
  $(document).ready(function () {
    Analysis.show();
  });
</script>