<div class="edit-analysis-hidden">
  <section class="edit-analysis">
    <div class="form-submitting-hidden"></div>
    <h2>Edit analysis</h2>
    <%= form_for :analysis do |f| %>
      <h3>Title</h3>
      <input type="text" name="analysis[title]" value="<%= @analysis.title %>">

      <h3>Upload PDF (no spaces in file name)</h3>
      <%= f.file_field :pdf, :class => "pdf-upload" %><br>
      <input type="hidden" name="_method" value="put">
      <%= f.submit "Update", :class => "update-analysis" %>
    <% end %>
  </section>
</div>

<section class="analysis-container">
  <%= render partial: "analysis", locals: {analysis: @analysis} %>
</section>

<script>
  $(document).ready(function () {
    $(".analysis-container").on("click", ".edit-analysis-button", function () {
      $("div.edit-analysis-hidden").fadeIn("fast");
    });

    $(".edit-analysis").on("click", function (event) {
      event.stopPropagation();
    });

    $("div.edit-analysis-hidden").on("click", function () {
      $(this).fadeOut("fast");
    });

    $(".update-analysis").on("click", function (event) {
      $(".form-submitting-hidden").html('<%= image_tag "loading.gif", :class => "loading-gif" %>');
      $(".form-submitting-hidden").fadeIn("fast");
      event.preventDefault();

      var that = this;
      var formData = new FormData(that.form);

      $.ajax({
        url: that.form.action,
        contentType: false,
        processData: false,
        type: "PUT",
        data: formData,
        success: function (data) {
          $("div.edit-analysis-hidden").fadeOut("fast");
          $(".form-submitting-hidden").html("");
          $(".form-submitting-hidden").fadeOut("fast");
          $(that.form).each(function () {this.reset()});
          $(".analysis-container").html(data);
        },
        error: function () {
          console.log("error");
        }
      })
    })
  });
</script>