<style>
  html { 
  background: url(<%= asset_path "toews.jpg" %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0;
}
</style>

<h1 class="home-header">GameDay</h1>

<section class="container group">
  <section id="teams-home">
    <h2><a href="<%= standings_url %>">STANDINGS</a></h2>
    <a class="teams-sprite" href="<%= standings_url %>"></a>
  </section>

  <section id="players-home">
    <h2><a href="<%= players_url %>">PLAYERS</a></h2>
    <a class="players-pic" href="<%= players_url %>"><%= image_tag "home_players.jpg", :class => "players-pic" %><span class="players-hidden">SKATERS</span></a>

    <a class="goalies-pic" href="<%= goalies_url %>"><%= image_tag "home_goalie.jpg", :class => "goalies-pic" %><span class="goalies-hidden">GOALIES</span></a>
  </section>

  <section id="games-home">
    <h2><a href="#">GAMES</a></h2>
    <a class="games-pic" href="<%= games_url %>"><%= image_tag "games.jpg", :class => "games-pic" %><span class="games-hidden">SCHEDULE</span></a>
  </section>
</section>

<script>
  $(document).ready(function () {
    Home.init();
  });
</script>
