<% if params[:team_id] %>
  <% team = Team.find_by_abbrev(params[:team_id]) %>
<% end %>

<% if params[:team_id] %>
  <style>
    body {
      background: <%= team.background_color %>;
    }

    .games-container {
      border: 3px solid #fff;
    }

    .team-name {
      color: <%= team.luminance(0.3) %>;
      text-align: center;
      text-shadow: 1px 1px 1px #000;
    }
  </style>
<% end %>

<% if params[:team_id] %>
  <h2 class="team-name"><%= team.name %></h2>
<% end %>

<div class="paginator"><%= paginate games %></div>

<div class="season-selector">
  <ul class="season-list">
    <% if params[:sort] %>
      <% if games.first.season == "13-14" %>
        <% if params[:team_id] %>
          <%= link_to "2012-2013", games_url(sort: params[:sort], direction: params[:direction], season: "12-13", team_id: params[:team_id]) %>
        <% else %>
          <li><%= link_to "2012-2013", games_url(sort: params[:sort], direction: params[:direction], season: "12-13") %></li>
        <% end %>
      <% else %>
        <% if params[:team_id] %>
          <%= link_to "2013-2014", games_url(sort: params[:sort], direction: params[:direction], season: "13-14", team_id: params[:team_id]) %>
        <% else %>
          <li><%= link_to "2013-2014", games_url(sort: params[:sort], direction: params[:direction], season: "13-14") %></li>
        <% end %>
      <% end %>
    <% else %>
      <% if games.first.season == "13-14" %>
        <% if params[:team_id] %>
          <li><%= link_to "2012-2013", games_url(season: "12-13", team_id: params[:team_id]) %></li>
        <% else %>
          <li><%= link_to "2012-2013", games_url(season: "12-13") %></li>
        <% end %>
      <% else %>
        <% if params[:team_id] %>
          <li><%= link_to "2013-2014", games_url(season: "13-14", team_id: params[:team_id]) %></li>
        <% else %>
          <li><%= link_to "2013-2014", games_url(season: "13-14") %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<table id="games-index">
  <thead>
    <tr>
      <th><%= sortable "date" %></th>
      <th><%= sortable "away" %></th>
      <th><%= sortable "home" %></th>
      <th>TIME</th>
      <th>RESULT</th>
    </tr>
  </thead>

  <tbody id="games">
    <%= render games %>
  </tbody>
</table>
<div class="paginator"><%= paginate games %></div>