<tr>
  <td><a href="<%= player_url(player) %>"><%= player.name %></a></td>
  <td><a href="<%= team_url(player.team_abbrev) %>"><%= player.team_abbrev %></a></td>
  <td><%= player.gp %></td>
  <td><%= player.g %></td>
  <td><%= player.a %></td>
  <td><%= player.pts %></td>
  <td><%= player.plus_minus %></td>
  <td><%= player.pim %></td>
  <td><%= player.ppg %></td>
  <td><%= player.hits %></td>
  <td><%= player.blocks %></td>
  <td><%= player.fo_perc %></td>
  <td><%= player.shots %></td>
  <td><%= player.shot_perc %></td>
</tr>