<!DOCTYPE html>
<html>
<head>
  <title>GameDay</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,500,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <meta name="google" value="notranslate">
</head>
<body>

  <% if current_user %>
    <header>
      <nav class="navbar">
        <ul class="options group">
          <li><a href="<%= user_root_url %>">HOME</a></li>
          <li><a href="<%= user_url(current_user.username) %>">PROFILE</a></li>
          <li class="stats">
            <a href="#">STATS</a>

            <ul class="dropdown group">
              <li><a href="<%= standings_url %>">STANDINGS</a></li>
              <li class="players-option">PLAYERS
                <ul class="players-sidedrop">
                  <li><a href="<%= players_url %>">SKATERS</a></li>
                  <li><a href="<%= goalies_url %>">GOALIES</a></li>
                </ul>
              </li>
              <li><a href="<%= games_url %>">SCHEDULE</a></li>
              <li><a href="#">ANALYSIS</a></li>
            </ul>
          </li>
          <li><a href="#">FORUM</a></li>
          <li><%= link_to "SIGN OUT", destroy_user_session_url, method: :delete %></li>
        </ul>
      </nav>
    </header>
  <% end %>

<%= yield %>

</body>
</html>

<script>
  $(document).ready(function () {
    $(".stats").mouseenter(function () {
      $(".dropdown").slideDown("fast");
    });
    $(".stats").mouseleave(function () {
      $(".dropdown").slideUp("fast");
    });

    $(".players-option").mouseenter(function () {
      $(".players-sidedrop").animate({width: "toggle"}, "fast");
    });
    $(".players-option").mouseleave(function () {
      $(".players-sidedrop").animate({width: "toggle"}, "fast");
    })
  });
</script>
